.navigation{
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #cfcccc;   
}

.link{
    margin-left: 20px;
    text-decoration: none;
}

.active{
    font-weight: 600;
    color: orangered;
}